* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profilecontainer {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.leftprofile{
    background-color: #d5d0ec;
    padding: 20px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patientimg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.patient-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.rightprofile {
    padding: 20px;
    width: 60%;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.update-button {
    background-color: rgb(9, 65, 117);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.update-button:hover {
    background-color: rgb(53, 167, 244);
}
